.caption{
    margin-left: 17%;
    margin-top: 1%;
    padding-bottom: 2%;
    width: 20vw;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}