*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "montserrat","sans-serif";
    font-weight: bolder;
}

.container1
{
  background-image: url("../Images/wallpaper.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
}

.login_box
{
  width: 22vw;
  height: 50vh;
  box-shadow:5px 5px 5px 5px #5E454B;
  border-radius: 2vw;
  background-color: white;
  text-align: center;
  position:absolute;
  padding: 2%;
  top: 18%;
  left: 7%;
  bottom: 0;
  right: 0;
  
  /* margin-top: 11%; */
  /* margin-left: 6%; */


}