*{
  margin: 0;
  padding: 0;
}
.navbar {
  position: sticky;
  top: 0px;
  display: flex;
  width: 100vw;
  height: 8vh;
  z-index: 3;
  font-size: larger;
  background-color: #50AEEE;
  color: black;
  justify-content: space-between;
  align-items: center;
}
.navright{
  flex:1;
}
.navleft{
  flex: 6;
}
.navcenter{
  flex: 11;
}
.left {
  margin-left: 10vw;
}

.left:hover {
  font-size: x-large;
  color: black;
}
.title{
  font-family: 'Calligraffitti', cursive; 
  font-family: 'Lobster Two', cursive;
  letter-spacing: 2px;
  color:white;
  font-size : 1.2em; 
       
  margin-left: 10vw;                                         
}
.title:hover
{
  font-size:x-large;
}
ul {
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
}

li {
  font-weight: 300;
  color:white;
  margin-left: 2vw;
  display: inline-block;
  list-style: none;
}

li:hover {
  font-size: larger;
  color:black;
}
.fa-speakap 
{
  margin-left: 1vw;
  color:white;
}
.logo:hover
{
  font-size: 2.2em;
}
.title{
  margin-left: 1.3vw;
}

.grad {
  background-image: linear-gradient(red, yellow);
  width: 100vw;
  height: 100vh;
}

.nav_img {
  width: 3rem;
  height: 2.5rem;
  margin-right: 2%;
  margin-right: 2rem; 
  border-radius: 50%;
  cursor: pointer;

}

.dropdown {
  margin-right: 3.5vw;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  /* flex-direction: column; */
  position:absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* border: red; */
}
.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: medium;
  /* border: red; */
}
.dropdown:hover .dropdown-content {
  display: block;
  /* min-width: fit-content; */
  border-radius: .5vw;  
}


.input_search
{
  padding: .5vw;
  margin-top: 5px;
  width: 30vw;
  margin-right: 5px;
  border: none;
}
.btn_search{
  padding: 5px;
  background-color: white;
  border: none;
}
.input_search:focus{
  outline:none;
  border:none;
}
