*{
    margin: 0;
    padding: 0;
}


.post{
    width:60vw;
    height:60vh;
    display:flex;
    align-items:center;
    justify-content: center;
    border:1px solid black;
}

.Post_like{
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: 2vw;
}

.Post_save{
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 31vw;
}
