*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "montserrat","sans-serif";
    font-weight: bolder;
}

.box
{
  width: 40vw;
  height: 75vh;
  box-shadow:5px 5px 5px 5px #5E454B;
  position: absolute;
  border-radius: 2vw;
  background-color: white;
  top: 2.5%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 2%;
  margin: auto;
}

.radiobuttons{
  
}