*{
    margin: 0;
    padding: 0;
}

.topProfile{
    margin-top: 4%;
    display: flex;
    justify-content: flex;
    align-items: center;
    padding-bottom: 2%;
    border-bottom: 1px solid grey;
    width: 50vw;
    padding-bottom: 4%;
}

.topProfile_profilepic{
    margin-top: 2%;
    padding: 1.5%;
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
    object-fit: cover;
}

.topProfile_editicon{
    margin-left: 1.1vw;
    cursor: pointer;
    font: bold 2.5vh/1vh 'Roboto Mono', serif;
}

.topProfile_edit_icon:hover{
    color: #50aeee;
}

.topProfile_icon_add{
    margin-left: 1.1vw;
}
.topProfile_icon_add:hover{
    color: #50aeee;
}

.topProfile_profilepic:hover{
    box-shadow: 3px 2px  #50aeee;
}

.topProfile_info_parent{
    display: flex;
}

.topProfile_username{
    margin-left: 3vw;
    font-size: x-large;
    font:  3vh/3vh 'Roboto Mono', serif;
}

.topProfile_details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.topProfile_text{
    margin-left: 3vw;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}
 .topProfile_friends{
    cursor: pointer;

 }
  
.topProfile_friends:hover{
    color: #50aeee;
} 
.topProfile_icon_add_post
{
    margin-left: 1vw;
    font-size:large;
    cursor:pointer;
}
.topProfile_icons_uname
{
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
    justify-content: space-between;
}
.topProfile_icons
{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1.1vw;
    align-items: center;
}
.topProfile_icon_add_post:hover{
    color: #50aeee;
} 